<!DOCTYPE html>
<html>
   <head>
      <meta charset="utf-8">
      <title>userDirectory</title>
   </head>
   <body>
      {{#bots}}
      <!-- <div id="botsContainer"> -->
         <ul class ="bot">
            <li class="image"><img src= {{avatar}} ></li>
            <li class="name"> {{name}} </li>
            <li class="job"> {{job}}
               {{^job}}
                  <li class="noJob"> Available for hire </li>
               {{/job}}
            </li>
            <li class="company"> {{company}} </li>
         </ul>
      <!-- </div> -->
      {{/bots}}

   </body>
</html>
