<!DOCTYPE html>
<html>
   <head>
      <meta charset="utf-8">
      <title>userDirectory</title>
   </head>
   <body>
      <div class="robot-container">
         <img src= {{img}} >
         <h2> {{name}} </h2>
         <p> {{job}} </p>
         <p> {{company}} </p>
      </div>

   </body>
</html>
