<!DOCTYPE html>
<html>
   <head>
      <link rel= "stylesheet" href="styles.css">
      <meta charset="utf-8">
      <title>userDirectory</title>
   </head>
   <body>
      <div id="botsContainer">

         {{#bots}}
            <!--wrap in div, give it an <a href="/{{user.name}}"> voila  -->
            <ul class ="bot">
               <li class="image"><img src= {{avatar}} ></li>
               <li class="name"> {{name}} </li>
               <li class="job"> {{job}}
                  {{^job}}
                     <li class="noJob"> Available for hire </li>
                  {{/job}}
               </li>
               <li class="company"> {{company}} </li>
            </ul>

         {{/bots}}

      </div>
   </body>
</html>
